<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>
  <%- include('../partials/header') %>
  <main>
    <form action="index.html" method="post">

      <div class="form-group">
        <label for="nombre-apellido">Nombre y apellido</label>
        <input type="text" class="form-control" id="nombre-apellido" required>
      </div>

      <div class="form-group">
        <label for="nombre-usuario">Nombre de usuario</label>
        <input type="text" class="form-control" id="nombre-usuario" required>
      </div>

      <div class="form-group">
        <label for="fecha-nacimiento">Fecha de nacimiento</label>
        <input type="date" class="form-control" id="fecha-nacimiento" required>
      </div>

      <div class="form-group">
        <label for="domicilio">Domicilio</label>
        <input type="text" class="form-control" id="domicilio" required>
      </div>

      <div class="form-group">
        <label for="perfil">Perfil del usuario</label>
        <select class="form-control" id="perfil">
          <option value="comprar">Comprador</option>
          <option value="vender">Vendedor</option>
        </select>
      </div>

      <div class="form-group">
        <label for="categorias-interes">Categorías de interés</label>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="categorias-interes[]" value="electro">
          <label class="form-check-label" for="electro">Electro</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="categorias-interes[]" value="moda">
          <label class="form-check-label" for="moda">Moda</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="categorias-interes[]" value="hogar">
          <label class="form-check-label" for="hogar">Hogar</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="categorias-interes[]" value="jugueteria">
          <label class="form-check-label" for="jugueteria">Juguetería</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="categorias-interes[]" value="vida-sana">
          <label class="form-check-label" for="vida-sana">Vida sana</label>
        </div>
      </div>

      <div class="form-group">
        <label for="foto-usuario">Foto de usuario</label>
        <input type="file" class="form-control-file" id="foto-usuario">
      </div>

      <div class="form-group">
        <label for="contrasena">Contraseña</label>
        <input type="password" class="form-control" id="contrasena" required>
      </div>

      <div class="form-group">
        <label for="confirmar-contrasena">Confirmar contraseña</label>
        <input type="password" class="form-control" id="confirmar-contrasena" required>
      </div>

      <button type="submit" class="btn btn-primary">Enviar</button>
      <button type="reset" class="btn btn-secondary">Borrar</button>

    </form>
  </main>
  <%- include('../partials/footer') %>
</body>

</html>