* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #abaaaa6e;
}

h3 {
    font-size: 24px;
}

.precios {
    font-size: 18px;
}

.articulo-main,
.descuentos,
h4 {
    font-size: 16px;
}

p {
    font-size: 16px;
}

header {
    background-color: #EAC926;
}

div .top-header {
    padding: 5px;
}

header div .logo {
    width: 50%;
    padding: 10px;
}

header nav {
    font-size: 16px;
}

ul {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: black;
}


.search-container {
    text-align: center;
    margin-top: 20px;
}


#search-input {
    padding: 10px;
    width: 200px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}


#search-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}


#search-button:hover {
    background-color: #555;
}

.top-header p {
    width: 100%;
    margin-top: 10px;
    text-align: center;
}

.banner img {
    width: 100%;
}

.burger-menu i {
    background-color: #0044AA;
    color: #FFF;
    font-size: 20px;
    max-width: 50px;
    padding: 15px 15px;
    margin: 10px 0px 20px 0px;
    border-radius: 8px;
}

.burger-menu {
    text-align: center;
}

main {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

main section article {
    padding: 10px;
    border: solid 1px #ebebeb;
    margin: 15px;
    background-color: #fff;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.productos {
    display: flex;
    flex-wrap: wrap;
}

.articulo {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

main section .productos div i,
.descuentos {
    color: #39b54a;
}

main section article img {
    width: 100%;
}

main section article div i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    transition: transform 0.3s ease;
}

main section article div {
    position: relative;
}

h3,
.descripcion {
    color: #666;
}

footer {
    text-align: center;
    background-color: white;
}

footer .des-footer i {
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}

footer section {
    margin-bottom: 10px;
}

main section article div h4 {
    display: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

header nav {
    display: none;
}


/* Estilos para Register y login */
form {
    border: solid 3px black;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    background-color: #d1bb4e;
}

.registro-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.label {
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.checkbox-group {
    display: flex;
    flex-wrap: wrap;
}

.form-check {
    flex-basis: 50%;
}

.btn {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-secondary {
    background-color: #6c757d;
}

/* Tablet */
@media(min-width: 768px) and (max-width: 1439px) {
    main section article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        margin-bottom: 20px;
    }

    .burger-menu {
        display: none;
    }

    article {
        justify-content: space-between;
    }

    .producto {
        width: 45%;
    }

    header nav {
        display: flex;
        justify-content: space-around;
        padding-bottom: 20px;
        margin-top: 15px;
    }

    ul {
        display: flex;
        justify-content: space-around;
    }

    li {
        margin-right: 25px;
    }

    #search-input {
        width: 300px;
    }

    main section article div h4 {
        display: block;
        transition: opacity 0.3s ease, transform 0.3s ease;
    }
    form {
        margin: 115px;
    }
}

/* Desktop */
@media(min-width: 1440px) {
    main section article:hover {
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
        /* Aumenta la sombra al pasar el mouse */
        transform: translateY(-5px);
        /* Levanta ligeramente el artículo */
    }

    .burger-menu {
        display: none;
    }

    .productos {
        flex-wrap: nowrap;
        width: 100%;
    }

    .search-container {
        display: flex;
        margin-left: 370px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #search-input {
        width: 300px;
    }

    .top-header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .top-header p {
        display: flex;
        margin-left: 250px;
        align-items: center;
    }

    header nav {
        display: flex;
        justify-content: space-around;
        padding-bottom: 20px;
    }

    ul {
        display: flex;
        justify-content: space-around;
    }

    li {
        margin-right: 25px;
    }

    .articulo-main {
        display: flex;
        flex-wrap: wrap;
    }

    .precios {
        flex-basis: 30%;
    }

    .descuentos {
        flex-basis: 70%;
    }

    footer .footer-sec {
        display: flex;
        padding: 15px 0px 15px 0px;
    }

    footer section .des-footer {
        margin: auto;
    }

    main section article:hover i {
        transform: rotate(-90deg);
    }

    main section article:hover h4 {
        display: block;
        opacity: 1;
    }
    form {
        margin: 115px;
    }
}